<div class="container">
  <div class="card">
    <div class="card-header">
      <h1 style="margin: 0;">Category Details</h1>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6" style="margin-bottom: 1rem;">
  <strong>Name:</strong>
      <%= @Category.name %>    </div>
                <div class="col-12" style="margin-bottom: 1rem;">
  <strong>Description:</strong>
  <div style="margin-top: 0.5rem;">
    <%= simple_format(@Category.description) %>
  </div>
    </div>
      </div>
    </div>
    <div class="card-footer">
      <%= link_to edit_Category_path(@Category), class: 'btn btn-primary' do %>
        <%= edit_icon %> Edit
      <% end %>
      <%= link_to Category_path(@Category), method: :delete,
          data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' do %>
        <%= delete_icon %> Delete
      <% end %>
      <%= link_to Categories_path, class: 'btn btn-secondary' do %>
        <%= list_icon %> Back to List
      <% end %>
    </div>
  </div>

  <% if @Category.respond_to?(:reviews) && @Category.reviews.any? %>
    <div class="card" style="margin-top: 1rem;">
      <div class="card-header">Reviews</div>
      <div class="card-body">
        <%= render @Category.reviews %>
      </div>
    </div>
  <% end %>
</div>
