<div class="container">
  <div class="card">
    <div class="card-header">
      <h1 style="margin: 0;">Edit Card</h1>
    </div>
    <div class="card-body">
      <%= render 'form', card: @card %>
    </div>
    <div class="card-footer">
      <%= link_to @card, class: 'btn btn-outline' do %>
        <%= view_icon %> View
      <% end %>
      <%= link_to cards_path, class: 'btn btn-secondary' do %>
        <%= list_icon %> Back to List
      <% end %>
    </div>
  </div>
</div>
