<h1>Orders</h1>

<%= link_to 'New Order', new_order_path, class: 'btn btn-primary' %>

<table class="table">
  <thead>
    <tr>
      <th>Order number</th>
      <th>Total amount</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.order_number %></td>
        <td><%= order.total_amount %></td>
        <td><%= order.status %></td>
        <td>
          <%= link_to 'Show', order %>
          <%= link_to 'Edit', edit_order_path(order) %>
          <%= link_to 'Delete', order, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @orders %>
