<div class="container">
  <div class="card">
    <div class="card-header">
      <h1 style="margin: 0;">Book Details</h1>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6" style="margin-bottom: 1rem;">
  <strong>Title:</strong>
      <%= @Book.title %>    </div>
                <div class="col-12" style="margin-bottom: 1rem;">
  <strong>Description:</strong>
  <div style="margin-top: 0.5rem;">
    <%= simple_format(@Book.description) %>
  </div>
    </div>
                <div class="col-md-6" style="margin-bottom: 1rem;">
  <strong>Isbn:</strong>
      <%= @Book.isbn %>    </div>
                <div class="col-md-6" style="margin-bottom: 1rem;">
  <strong>Publication date:</strong>
      <%= format_date(@Book.publication_date) %>    </div>
                <div class="col-md-6" style="margin-bottom: 1rem;">
  <strong>Price:</strong>
      <span class="price"><%= format_currency(@Book.price) %></span>    </div>
                <div class="col-md-6" style="margin-bottom: 1rem;">
  <strong>Stock quantity:</strong>
      <%= @Book.stock_quantity %>    </div>
      </div>
    </div>
    <div class="card-footer">
      <%= link_to edit_Book_path(@Book), class: 'btn btn-primary' do %>
        <%= edit_icon %> Edit
      <% end %>
      <%= link_to Book_path(@Book), method: :delete,
          data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' do %>
        <%= delete_icon %> Delete
      <% end %>
      <%= link_to Books_path, class: 'btn btn-secondary' do %>
        <%= list_icon %> Back to List
      <% end %>
    </div>
  </div>

  <% if @Book.respond_to?(:reviews) && @Book.reviews.any? %>
    <div class="card" style="margin-top: 1rem;">
      <div class="card-header">Reviews</div>
      <div class="card-body">
        <%= render @Book.reviews %>
      </div>
    </div>
  <% end %>
</div>
