<div class="container">
  <div class="card">
    <div class="card-header">
      <h1 style="margin: 0;">Book Details</h1>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6" style="margin-bottom: 1rem;">
  <strong>Title:</strong>
      <%= @book.title %>    </div>
                <div class="col-md-6" style="margin-bottom: 1rem;">
  <strong>Author:</strong>
      <%= @book.author %>    </div>
                <div class="col-md-6" style="margin-bottom: 1rem;">
  <strong>Isbn:</strong>
      <%= @book.isbn %>    </div>
                <div class="col-12" style="margin-bottom: 1rem;">
  <strong>Description:</strong>
  <div style="margin-top: 0.5rem;">
    <%= simple_format(@book.description) %>
  </div>
    </div>
                <div class="col-md-6" style="margin-bottom: 1rem;">
  <strong>Price:</strong>
      <span class="price"><%= format_currency(@book.price) %></span>    </div>
                <div class="col-md-6" style="margin-bottom: 1rem;">
  <strong>Stock quantity:</strong>
      <%= @book.stock_quantity %>    </div>
                <div class="col-md-6" style="margin-bottom: 1rem;">
  <strong>Published at:</strong>
      <%= format_date(@book.published_at) %>    </div>
                <div class="col-md-6" style="margin-bottom: 1rem;">
  <strong>Category:</strong>
      <%= @book.category %>    </div>
                <div class="col-md-6" style="margin-bottom: 1rem;">
  <strong>Active:</strong>
<% if @book.active %>
  <span class="badge badge-success">Yes</span>
<% else %>
  <span class="badge badge-danger">No</span>
<% end %>
    </div>
      </div>
    </div>
    <div class="card-footer">
      <%= link_to 'Edit', edit_book_path(@book), class: 'btn btn-primary' %>
      <%= link_to 'Delete', book_path(@book), method: :delete,
          data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      <%= link_to 'Back to List', books_path, class: 'btn btn-secondary' %>
    </div>
  </div>

  <% if @book.respond_to?(:reviews) && @book.reviews.any? %>
    <div class="card" style="margin-top: 1rem;">
      <div class="card-header">Reviews</div>
      <div class="card-body">
        <%= render @book.reviews %>
      </div>
    </div>
  <% end %>
</div>
